<div class="split-screen">
  <div class="container"></div>

  <div class="user-profile" *ngIf="!showAssignedStudents">
    <div class="circle-image-container">
      <div class="circle-image">
        <img src="avatar.jpg" alt="Profile Picture">
      </div>
    </div>
    <div class="user-info">
      <div class="user-name">
        <h2>Welcome</h2>
      </div>
    
        <button class="animated-button" (click)="toggleAssignedStudents()">
          <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
            <path
              d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
            ></path>
          </svg>
          <span class="text">View Students</span>
          <span class="circle"></span>
          <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
            <path
              d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
            ></path>
          </svg>
        </button>
        <button class="logout-btn" (click)="onLogout()">Logout</button>
    </div>
  </div>

  <div *ngIf="showAssignedStudents" class="students-container">
    <div class="user-profile">
      <div class="students-list">
        <h3>Students Assigned to You:</h3>
        <ul class="list-style">
          <li *ngFor="let student of students$ | async" (click)="selectStudent(student)">
            <span>{{ student.name }}</span>
          </li>
        </ul>
      </div>
      <div class="button-group">
        <button class="animated-button" (click)="toggleAssignedStudents()">Hide students</button>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="grades-container" *ngIf="selectedStudent">
      <h3>Grades for {{ selectedStudent.name }}</h3>
      <ul class="list-style">
        <li *ngFor="let grade of studentGrades">
          <span>Course: {{ grade.courseName }} - Grade: {{ grade.grade }}</span>
          <button class="edit-button" (click)="updateGrade(grade.courseId, newGrade)">Edit</button>
          <button class="delete-button" (click)="deleteGrade(grade.courseId)">Delete</button>
        </li>
      </ul>

      <button class="animated-button" (click)="showAssignGradeForm = true">+ Add grade</button>
    </div>

    <div [ngClass]="{'assign-grade': true, 'active': showAssignGradeForm}">
      <h3 *ngIf="selectedStudent">Assign Grade to {{ selectedStudent.name }}</h3>

      <label for="course">Select Course:</label>
      <select [(ngModel)]="selectedCourse">
        <option *ngFor="let course of filteredCourses" [value]="course.id">
          {{ course.name }}
        </option>
      </select>

      <div *ngIf="selectedCourse">
        <label for="grade">Enter Grade:</label>
        <input type="number" id="grade" [(ngModel)]="newGrade" min="0" max="100" />
        <div class="button-group">
          <button class="animated-button" (click)="submitGrade()">Save Grade</button>
          <button class="animated-button" (click)="showAssignGradeForm = false">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
