<div class="container">
  <div class="wrapper">
    <div class="card-switch">
      <label class="switch">
        <input type="checkbox" class="toggle">
        <span class="slider"></span>
        <span class="card-side"></span>
        <div class="flip-card__inner">
         
          <div class="flip-card__front">
            <div id="login-area">
              <p></p>
            </div>
            <div class="title">{{ isLogin ? 'Log In' : 'Register' }} - {{ role | titlecase }}</div>
            <form class="flip-card__form" (ngSubmit)="onSubmit()">
              <input class="flip-card__input" [(ngModel)]="email" name="email" placeholder="Email" type="email" required>
              <input class="flip-card__input" [(ngModel)]="password" name="password" placeholder="Password" type="password" required>
              <button type="submit" class="flip-card__btn">{{ isLogin ? 'Let`s go!' : 'Register' }}</button>
            </form>
          </div>

       
          <div class="flip-card__back">
            <div class="title">Register - {{ role | titlecase }}</div>
            <form class="flip-card__form" (ngSubmit)="register()">
              <input class="flip-card__input" [(ngModel)]="name" name="name" placeholder="Name" type="text" required>
              <input class="flip-card__input" [(ngModel)]="email" name="email" placeholder="Email" type="email" required>
              <input class="flip-card__input" [(ngModel)]="password" name="password" placeholder="Password" type="password" required>
              <button type="submit" class="flip-card__btn">Confirm!</button>
            </form>
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
