<div class="container">
  <div class="section first-section">
    <div class="site-name">
      <img src="school-icon.png">
      <h1>School Mngr</h1>
    </div>
    <div class="greeting-text">
      <h1>Welcome to <div class="my-text"><h1>School Manager</h1></div></h1>
    </div>
    <button class="log-in-button">
      Log In
    </button>

  </div>
  <div class="section last-section">
    <button class="picture">
      <img src="school.jpg" alt="Not found">
      <div class="card">
        <h1>School App</h1>
      </div>
    </button>
    <button class="picture">
      <img src="teacher.jpg" alt="Not found">
      <div class="card">
        <h1>Teacher App</h1>
      </div>
    </button>
    <button class="picture">
      <img src="students.jpg" alt="Not found">
      <div class="card">
        <h1>Student App</h1>
      </div>
    </button>
    <button class="picture">
      <img src="director.jpg" alt="Not found">
      <div class="card">
        <h1>Principal App</h1>
      </div>
    </button>
  </div>
</div>

 
