<div class="split-screen">
  <!-- Background Half -->
  <div class="background-container">
    <!-- The background content goes here -->
  </div>

  <div class="user-profile">
    <div class="circle-image-container">
      <div class="circle-image">
        <img src="avatar.jpg" alt="Profile Picture">
      </div>
    </div>
    <div class="user-info">
      <div class="user-name">
        <h2>{{ username }}</h2> <!-- Display authenticated user's name here -->
      </div>
      <div class="button-group">
        <button 
          (click)="toggleActiveButton('grades')" 
          [class.active]="activeButton === 'grades'">View My Grades</button>
        <button 
          (click)="toggleActiveButton('courses')" 
          [class.active]="activeButton === 'courses'">Enrolled Courses</button>
        <button 
          (click)="toggleActiveButton('teachers')" 
          [class.active]="activeButton === 'teachers'">View Teachers</button>
      </div>
      
    </div>
   
  </div>

  <!-- Content Half (Button container) -->
  <div class="course-container" *ngIf="courses$ | async as courses; else noCourses">
    <!-- Buttons to toggle views -->
    <div *ngIf="courses && courses.length > 0">
      

      <!-- Grades List -->
      <div *ngIf="activeView === 'grades'">
       
        <ul>
          <li *ngFor="let course of courses">
            <span class="course-name">{{ course.name }}</span> - Grade: {{ course.grade }}
          </li>
        </ul>
      </div>

      <!-- Enrolled Courses -->
      <div *ngIf="activeView === 'courses'">
        
        <ul>
          <li *ngFor="let course of courses">
            <span class="course-name">{{ course.name }}</span>
          </li>
        </ul>
      </div>

      <!-- View Teachers -->
      <div *ngIf="activeView === 'teachers'">
        
        <ul>
          <li *ngFor="let course of courses">
            <span class="course-name">{{ course.name }}</span> - Teacher: {{ course.teacher }}
          </li>
        </ul>
      </div>

    </div>
  </div>

  <ng-template #noCourses>
    <p class="no-courses">No courses enrolled.</p>
  </ng-template>
</div>
